<!DOCTYPE html>
<html>
<head> <title>Likedsongs Booster</title> </head>
<body>
    <label for="fname">Feedback is greatly appreciated!</label>
    <input type="text" id="fname" name="fname">
    <form action="http://localhost:5000/main">
        <label for="fname">Feedback is greatly appreciated!</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="submit" value="Submit">
    </form>
    <a href = '/main'> Head back to main page </a>
</body>
</html>