<!DOCTYPE html>
<head> <title>Likedsongs Booster</title> </head>
<body> 
    <h1> Choose how many songs to generate in popularity playlists: </h1>
    <ul>
        <li>
            <a class="btn" href="http://localhost:5000/10songs">
                10 Songs
            </a>
        </li>
        <li>
        <a class="btn" href="http://localhost:5000/25songs">
            25 Songs
        </a>
        </li>
        <li>
        <a class="btn" href="http://localhost:5000/50songs">
            50 Songs
        </a>
        </li>
    </ul>
</body>


</html>